<div>
    <div>
        <form>
            <input [(ngModel)]="query" type="text" class="form-control" />
            <button class="btn btn-default" (click)="submitQuery()">Submit Query</button>
            <button class="btn btn-default" (click)="buildUrl()">Build Url</button>
        </form>
    </div>
    <div *ngIf="url">
        <input type="text" class="form-control" value="{{url}}" readonly />
    </div>
    <div class="h3">Movies Returned: {{movies?.length}}</div>
    <table class="table">
        <tr>
            <th>Rank</th>
            <th>ImdbID</th>
            <th>Thumb</th>
            <th>Title</th>
            <th>ImdbRating</th>
            <th>RuntimeMinutes</th>
            <th>Released</th>
        </tr>
        <tr *ngFor="let movie of movies">
            <td>{{movie.Rank}}</td>
            <td>{{movie.ImdbID}}</td>
            <!--            <td style="width:100px"><img style="width:100%" src="{{movie.Poster}}" /></td>-->
            <td class=
            <td class="col-md-2" style="overflow:hidden;max-width:50px">{{movie.Poster}}</td>
            <td>{{movie.Title}}</td>
            <td>{{movie.ImdbRating}}</td>
            <td>{{movie.RuntimeMinutes}}</td>
            <td>{{stringToDateMilliseconds(movie.Released) | date:'y'}}</td>
        </tr>
    </table>
</div>